<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Compile and execute</title>
    </head>

    <body>
        <form action="{% url "compile" %}" method ="post" enctype="multipart/form-data">
            {% csrf_token %}
        <!-- List of uploaded documents -->

        {% if documents %}
                {% for document in documents %}
        <tr>      
            <td>
			<a href="{{ document.docfile.url }}">{{ document.docfile.name }} 
            </td>
            <td>        
            <button type="submit" value={{ document.docfile.name }} name="_Compile">Compile</button>
            </td>
            <td>
            <button type="submit" value={{ document.docfile.name }} name="_Execute">Execute</button>
            </td>
            <br>
            <br>
        </tr>
                {% endfor %}
        {% else %}
            <p>No documents.</p>
        {% endif %}
        </form>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
